@charset "UTF-8";

body{
background-color: antiquewhite;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
margin: 0 auto;
padding: 0;
}


section {
	margin-top:0px auto;
	margin-bottom: 685px;
}

.matriz {
	width:300px;
	margin:0px auto;
	font-weight:bold;
	margin-bottom:10px;
	box-shadow: 4px 4px 10px black;
	border-radius:50px;
}

.matriz input{
	margin:5px auto;
	width:100%;
	padding:10px 0;
	border-radius: 10px;
	box-shadow: 4px 4px 10px black;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.matriz button{
	width:30%;
	margin:0 10%;
	background-color:#f1f7ff;
	font-weight:bold;
	font-size:20px;
	border-radius:10px 
}

.matriz button:hover{
	background-color:black;
	color:white;
    
}

label{
	float:center;
}

h2 {
	text-align:center;
	margin-top:0px;
	margin-bottom:10px;
	font-size:50px
}

footer {
	float:right;
	background-color:black;
	color:#fff;
	text-align:center;
	padding:20px;
	width:100%;
	position:center;
	height:30px;
	margin:0px;
	bottom:0%;
}